<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ss.mvc.board.mapper.BoardMapper">
	<!-- resultMap 각각 매칭 시키는 타입! -->
	<resultMap type="Board" id="boardListResultMap">
		 <id property="no" column="NO"/>
		 <result property="title" column="TITLE"/>
		 <result property="writerId" column="ID"/>
		 <result property="writerNo" column="WRITER_NO"/>
		 <result property="readCount" column="READCOUNT"/>
		 <result property="originalFileName" column="ORIGINAL_FILENAME"/>
		 <result property="renamedFileName" column="RENAMED_FILENAME"/>
		 <result property="content" column="CONTENT"/>
		 <result property="type" column="TYPE"/>
		 <result property="createDate" column="CREATE_DATE"/>
		 <result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
		
	<resultMap type="Reply" id="boardReplyResultMap">
		 <id property="no" column="NO"/>
		 <result property="boardNo" column="BOARD_NO"/>
		 <result property="writerNo" column="WRITER_NO"/>
		 <result property="writerId" column="ID"/>
		 <result property="content" column="CONTENT"/>
		 <result property="createDate" column="CREATE_DATE"/>
		 <result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<!-- resultMap 태그는 sql 쿼리 결과를 특정 객체에 매핑하기 위한 매핑 규칙을 정하는 것! 
		
		extends 다른 resultMap 상속한다.
		
		collection 태그를 이용해서 클래스 변수에 있는 컬렉션 태그를 매피아기 위해서 사용된다.
		그때 클래스 변수명을 입력한다.
		
		columnPrefix
		- Board와 Reply 객체의 값을 가져오면 중복되는 컬럼명이 발생한다.
		  Board와 Reply 컬럼명을 구별하기 위해서 앞에 접두사 R로 시작하는 컬럼명은 Reply 속성을 사용한다.
	-->
	<resultMap type="Board" id="boardDetailResultMap" extends="boardListResultMap">
		<collection property="replies" javaType="arrayList" resultMap="boardReplyResultMap" columnPrefix="R_"/>
	</resultMap>
	
	<!-- 게시글에 작성된 댓글이 조회를 했을 때
		댓글도 같이 저장 -->
	<select id="selectBoardList1" resultMap="boardListResultMap">
		select b.no, b.title, m.id, b.create_date, b.original_filename, b.readcount
		from board b
		join member m on(b.writer_no = m.no)
		order by b.no desc limit 10
	</select>
	
	<select id="selectBoardCount" resultType="int">
		select count(*) from board
	</select>

</mapper>