.slide-container{
    display: flex;
    width: 300vw;
    transition: all 3s;
    /* transform: translateX(-100vw); */
}
.slide-box{
    /* 웹 브라우저 화면을 100%로 설정 */
    width: 100vw;
}
.slide-box img{
    width: 100%;
}